/**
 * @Author: lollipop
 * @Date: 2020/02/2020/2/21
 **/
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  user-select: none;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/2.2.3/iconfont/MaterialIcons-Regular.eot');
  src: local('Material Icons'), local('MaterialIcons-Regular'),
  url('https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/2.2.3/iconfont/MaterialIcons-Regular.woff2')
  format('woff2'),
  url('https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/2.2.3/iconfont/MaterialIcons-Regular.woff')
  format('woff'),
  url('https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/2.2.3/iconfont/MaterialIcons-Regular.ttf')
  format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 0.16rem;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a:focus,
a:active,
a:visited {
  outline: none;
}
a:hover {
  text-decoration: none;
  color: #337ab7;
  transition: color 0.4s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
@media screen and  (min-width: @min-screen-width) {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
}
* {
  touch-action: pan-y;
}

@import './common/common.less';

.animate-box {
  opacity: 0;
}

.inner-title-box {
  padding: 20px 0;
  text-align: center;
  img {
    display: block;
    width: 30px;
    margin-bottom: 5px;
  }
  .inner-title {
    font-size: 18px;
    font-weight: 500;
  }
  .inner-line {
    margin: 10px auto 0;
    width: 58px;
    height: 1px;
    background-color: #9d9d9d;
  }
}
@media screen and  (min-width: @min-screen-width) {
  .inner-title-box {
    padding: 0.6rem 0;
    img {
      display: block;
      width: 0.4rem;
      margin: 0 auto;
    }
    .inner-title {
      font-size: 36px;
      font-weight: 600;
    }
    .inner-line {
      margin: 10px auto 0;
      width: 58px;
      height: 3px;
      background-color: #333333;
    }
  }

}

//新闻中心
.section-news {
  font-size: 0;
  .list-item {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    padding: 0.2rem;
    a {
      display: block;
      color: #000;
    }
    .news-list-pic {
      position: relative;
      margin-bottom: 15px;
      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: scale(0);
        transition: all .5s ease;
        background: rgba(95, 150, 222, 0.3);
        .icon-wrap {
          position: absolute;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background-color: rgba(100, 100, 100, 0.5);
          font-size: 20px;
          border-radius: 50%;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }

      }

    }
    &:hover {
      .news-list-pic {
        .bg {
          transform: scale(1);
        }
      }
    }
    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
    }
    .event-title {
      margin-bottom: 5px;
      font-size: @max-fontsize;
      line-height: 1.2;
    }
    .event-deliever {
      font-size: @min-fontsize;
      color: rgb(128, 128, 128);
    }
  }
}

@media (max-width: @min-screen-width) {
  .section-news {
    .list-wrap {
      padding: 20px 0;
    }
    .list-item {
      display: block;
      margin-bottom: 20px;
      width: 100%;
      padding: 0;
      img {
        height: 100px;
      }
    }
  }
}

//解决方案 相关案例 硬件中心
.section-classes {
  .all-class {
    display: flex;
    margin: 0.2rem 0;
    li {
      position: relative;
      cursor: pointer;
      margin-right: 20px;
      margin-bottom: 20px;
      display: inline-block;
      height: 40px;
      line-height: 1.5;
      padding: 0 15px;
      white-space: nowrap;
      text-align: center;
      font-size: @max-fontsize;
      border-radius: 4px;
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
      border: 1px solid transparent;
      border-color: #d9d9d9;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      &:hover {
        box-shadow: rgb(202, 202, 202) 3px 3px 10px, rgb(202, 202, 202) -3px -3px 10px;
        transition: all 0.4s ease;
      }
      b {
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
        font-weight: 400;
      }
      .badge {
        position: absolute;
        top: 0;
        right: 0;
        transform-origin: 100% 0%;
        transform: translate(50%, -50%);
        min-width: 20px;
        height: 20px;
        padding: 0 6px;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        white-space: nowrap;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 0 0 1px #fff;
      }
      &.is-checked {
        background-color: @theme-color;
        border-color: @theme-color;
        color: #fff;
      }
    }
  }
  .list-wrap {
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    &:after{
      content: '';
      width: 30%; //这个宽度和子元素宽度一致
      height: 0;
      display: block;
    }
    .list-item {
      display: flex;
      padding: 0.2rem;
      margin-bottom: 0.4rem;
      flex-direction: column;
      text-align: left;
      width: 30%;
      box-shadow: rgb(202, 202, 202) 3px 3px 10px, rgb(202, 202, 202) -3px -3px 10px;
      &:hover {
        transition: all 0.4s ease;
      }
      a {
        display: block;
        color: #000;
      }
      img {
        margin-bottom: 0.2rem;
        width: 100%;
        height: 220px;
        object-fit: cover;
        box-shadow: 0 0 0 1px #fff;
      }
      .name {
        margin-bottom: 5px;
        font-size: @max-fontsize;
        text-indent: 1em;
        span {
          padding-bottom: 5px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.65);
        }
      }
      p {
        font-size: @min-fontsize;
        color: rgb(128, 128, 128);
        text-indent: 1em;
      }
    }
  }
}

@media (max-width: @max-screen-width) {
  .section-classes {
    .all-class {
      li {
        height: 32px;
        font-size: @min-fontsize;
      }
    }
    .list-wrap {
      .list-item {
        display: block;
        margin-bottom: 20px;
        width: 100%;
        padding: 0;
        img {
          height: 100px;
        }
      }
    }
  }
}


