<div class="section-footer">
    <div class="container">

      
      <div class="contact-info">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-lg-6">
                <h3><i class="material-icons">phone_iphone</i>&nbsp;&nbsp;0513-89085070</h3>
                <h3><i class="material-icons">mail</i></span>&nbsp;&nbsp;qiaohaoba@163.com</h3>
                <p>南通市崇川区崇川路58号</p>
                <p>南通产业技术研究院5号楼2006-2008室</p>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="qrcodeImg">
                <img src="../static/imgs/qrcode_for_zq.jpg">
                <p>关注中桥</p>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      <div class="copy">
            版权所有 © 江苏中桥信息技术有限公司 © 2016-2036  All rights reserved. <a href="http://www.beian.miit.gov.cn" target="_blank">苏ICP备17068713号</a>
      </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="../lib/jquery/dist/jquery.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="../lib/bootstrap/js/bootstrap.min.js"></script> 
<script src="https://cdn.bootcss.com/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="../lib/waypoints/lib/jquery.waypoints.min.js"></script> 
<script src="https://cdn.bootcss.com/holder/2.9.6/holder.min.js"></script>
<script src="../lib/holder/holder.min.js"></script> 
<script src="../js/common.js"></script> 