<!DOCTYPE html>
<html>
<head>
    <!-- title -->
    <%- include('./includes/title.ejs') %>
</head>
<body>
<!--header-->
<%- include('./includes/header.ejs') %>

<!--footer-->
<%- include('./includes/footer.ejs') %>
</body>
</html>