<!DOCTYPE html>
<html>
<head>
    <!-- title -->
    <%- include('./includes/title.ejs') %>
</head>
<body>
<!--header-->
<%- include('./includes/header.ejs') %>
<!--banner-->
<div class="banner-wrap" style="background-image: url(../static/imgs/contact/banner.jpg)">
    <h2>联系我们</h2>
</div>
<!--footer-->
<%- include('./includes/footer.ejs') %>
</body>
</html>