<!DOCTYPE html>
<html>
<head>
    <!-- title -->
    <%- include('./includes/title.ejs') %>
</head>
<body>
<!--header-->
<%- include('./includes/header.ejs') %>
<div class="banner-wrap" style="background-image: url(../static/imgs/solution/banner.jpg)">
    <h2>解决方案</h2>
</div>
<div class="section-classes">
    <div class="container">
        <ul class="all-class">
            <li class="is-checked"><b>全部</b></li>
            <li><b>桥梁</b></li>
        </ul>

        <div class="list-wrap">
            <div class="list-item">
                <a href="">
                    <img src="../static/imgs/solution/image001.jpg" />
                    <div class="name"><span>桥梁健康监测平台</span></div>
                    <p>“桥好吧”以用户体验为中心，采用独特的底层架构设计，以项目配置操作、设备二维码操作、算法开发操作等指引</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<%- include('./includes/footer.ejs') %>
</body>
</html>
